body {
  background-image: linear-gradient(135deg,rgba(200,0,0,1),rgba(0,255,0,2),rgba(0,0,100,3));
}
.image-crop {
  max-width: 8rem;
  height:auto;
}
.intro {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}
img {
  height: auto;
  width: 100%;
  border-radius : 50%;
}

b {
  font-size: 2em;
}

ul {
  list-style-type: none;
}

@media only screen and (max-width:768px) {
  .intro {
    display: block;
  }
  .img-align {
    position: relative;
    left:39%;
  }
}
