
  h3 {
    color : #b41724;
    border: 1px solid white;
  }
  .image-crop {
    max-width: 100px;
    height:auto;
  }
  div {
    display: block;
  }
  
  img {
    height: auto;
    width: 100%;
    border-radius : 50%;
    border: 2px solid royalblue;
  }
  
  ul :hover {
    background-color:cadetblue
  }
  b {
    font-size: 2em;
  }
  
  ul {
    list-style-type: none;
  }
  
  .container1 :hover {
    background-color: grey;
  }
  .container2 :hover {
    background-color: cadetblue;
  }
  .container3 :hover {
    background-color: slategray;
  }
  .container4 :hover {
    background-color: darkslategrey;
  }
  
